{% extends 'base.html'%}

{% block content %}

<div class "container">
    <!-- looping through news -->
    {% for image in images %}
    <div class="row">
        <!-- display News articles -->
        <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class = "image-container">
                <div class="thumnail" data-image-id "{{image.id}}" data-toggle="modal" data-title="{{image.title}}" data-caption="{{image.description}}" data-image="{{image.image_path}}" data-target="image.id">
                    <img src="{{image.image_path}}" alt="{{image.description}}" id="{{image.id}}" class="img-thumbnail">
                </div>

    <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:100px!important">
          <div class="modal-content">
              <div class="card" style="width:400px">
                  <img src="{{image.image_path}}" class="card-img-top" alt="Card image" style="width:120%">
                  <div class="card-body">
                      <h5 class="card-title">
                        <small> image name:</small>{{image.title}} - </h5>
                        <p> Description: {{image.description}}</p>
                        
                  </div>
              </div>
            <div class="modal-body">
              <form>
                <!-- <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div> -->
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <!-- <button type="button" class="btn btn-primary">Send message</button> -->
            </div>
          </div>
        </div>
      </div>


            </div>
            <!-- <h2 class ="text-center">{{image.title}}</h2> -->
        </div>
        <!-- Display news Article images -->
        <!-- <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{image.image_path.url}}" class= "img-responsive"alt="Image">
        </div> -->
    </div>
   
{% endfor %}
</div>




{% endblock %}


<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->
